DemoPrototype/Trunk/HoodlumHookup/DataSetInDataGrid.Silverlight/Service References/MyDataService/GetData2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3937/CCSSSite/GetData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetSchoolBuildings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="school_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolBuildingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSchoolBuildingsResult" nillable="true" type="q1:DataSetData" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ServiceError" nillable="true" type="q2:CustomException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchools">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSchoolsResult" nillable="true" type="q3:DataSetData" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ServiceError" nillable="true" type="q4:CustomException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetEventTypesResult" nillable="true" type="q5:DataSetData" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ServiceError" nillable="true" type="q6:CustomException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SQL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataSetDataResult" nillable="true" type="q7:DataSetData" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ServiceError" nillable="true" type="q8:CustomException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="d" nillable="true" type="q9:DataSetData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ServiceError" nillable="true" type="q10:CustomException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>